html {
  font-family: Merriweather, Roboto;

}

body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;
  justify-content: center;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  background-color: #FFFFFF;
  /*z-index: 1;*/
  /*justify-content: flex-end;*/
  /*align-items: center;*/
  /*align-content: center;*/
  box-shadow: 0px 1px 2px #888888;
}

.nav-link {
  display: flex;
  flex-direction: row;
  background-color: #FFFFFF;
  color: #2B2F26;
  /*align-items: center;*/
  position: relative;
  left: 35%;
  /*align-content: center;*/
  /*justify-content: flex-end;*/
  padding: 1em;
  text-transform: uppercase;
  transition-property: all;
  transition-duration: 1s;
}

a:hover {
  color: #CD5D67;
}

#active:hover {
  color: #CD5D67;
}

#active {
  color: #968773;
}

#logo {
  display: flex;
  /*margin-right: 35%;*/
  height: 40px;
  width: 40px;
  padding-top: 5px;
  padding-left: 5px;
  /*justify-content: flex-start;*/
}

.main1 {
  background-color: #F2F1E8;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding-top: 50px;
  z-index: -1;
}

.main2 {
  background-color: #F2F1E8;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding-top: 50px;
}

.title {
  max-height: 11em;
  /*display: flex;*/
  /*align-items: center;*/
}

.title h1 {
  display: flex;
  justify-content: center;
  font-size: 60px;
  font-weight: 400;
  /*margin-top: 1.5em;*/
  margin-bottom: 0;
}

.title span {
  display: flex;
  justify-content: center;
  font-size: 35px;
  font-weight: 200;
  /*padding-bottom: 1em;*/
  /*position: relative;
  top: -35px;*/

}

.middle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  bottom: -4em;
  /*z-index: -1;*/
}

.first-slide {
  display: flex;
  flex-direction: column;

}

.first-slide img {
  width: 809px;
  object-fit: cover;
  height: 420px;
  padding: 1em;

}

.first-slide span {
  background-color: #2B2F26;
  color: #F2F1E8;
  padding: 1em;
  display: flex;
  width: 170px;
  justify-content: center;
  position: relative;
  left: 1em;
  top: -5em;
}

.second-slide {
  display: flex;
  flex-direction: column;
}

.second-slide img {
  /*padding: 1em;*/
  object-fit: cover;
  height: 420px;
  width: 269px;
  padding-top: 1em;
}

.second-slide span {
  background-color: #2B2F26;
  color: #F2F1E8;
  padding: 1em;
  display: flex;
  justify-content: center;
  position: relative;
  width: 35px;
  top: -4em;
}

.third-slide {
  display: flex;
  flex-direction: column;
}

.third-slide img {
  padding: 1em;
  width: 269px;
  height: 420px;
  object-fit: cover;
  padding: 1em;
}

.third-slide span {
  background-color: #2B2F26;
  color: #F2F1E8;
  padding: 1em;
  display: flex;
  width: 70px;
  justify-content: center;
  position: relative;
  left: 1em;
  top: -5em;
}

.last {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: -3em;
  /*z-index: -1;*/
}

.fourth-slide {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 5%;
}

.fourth-slide img {
  width: 270px;
  height: 280px;
  object-fit: cover;
  padding: 1em;

}

.fourth-slide span {
  background-color: #2B2F26;
  color: #F2F1E8;
  padding: 1em;
  display: flex;
  width: 80px;
  justify-content: center;
  position: relative;
  left: 1em;
  top: -5em;
}

.fifth-slide {
  display: flex;
  flex-direction: column;
}

.fifth-slide img {
  /*padding: 1em;*/
  object-fit: cover;
  width: 270px;
  height: 280px;
  padding-top: 1em;
}

.fifth-slide span {
  background-color: #2B2F26;
  color: #F2F1E8;
  padding: 1em;
  display: flex;
  width: 160px;
  justify-content: center;
  position: relative;
  top: -4em;
}

.sixth-slide {
  display: flex;
  flex-direction: column;
}

.sixth-slide img {
  padding: 1em;
  width: 522px;
  height: 280px;
  object-fit: cover;
  padding: 1em;
}

.sixth-slide span {
  background-color: #2B2F26;
  color: #F2F1E8;
  padding: 1em;
  display: flex;
  width: 130px;
  justify-content: center;
  position: relative;
  left: 1em;
  top: -5em;
}

.seventh-slide {
  display: flex;
  flex-direction: column;
}

.seventh-slide img {
  padding-right: 1em;
  padding-top: 1em;
  width: 270px;
  height: 280px;
  object-fit: cover;
}

.seventh-slide span {
  background-color: #2B2F26;
  color: #F2F1E8;
  padding: 1em;
  display: flex;
  width: 170px;
  justify-content: center;
  position: relative;
  top: -4em;
}

footer {
  background-color: #2B2F26;
  color: #F2F1E8;
  padding: 3em 0 3em 2em;
  position:relative;
  /*top: -3em;*/
  margin: 0;
}

.community h1 {
  display: flex;
  justify-content: center;
  font-size: 60px;
  font-weight: 400;
  /*margin-top: 1.5em;*/
}

.study {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.birdhouse img {
  float: left;
  height: 120px;
  width: 160px;
  padding: 0 1.5em 1.5em 0;
}

.birdhouse {
  margin-left: 25%;
  margin-bottom: 2em;
  width: 52%;
}

.birdhouse a {
  color: #968772;
}

.birdhouse a:hover {
  color: #967343
}

.birdhouse p {
  line-height: 200%;
}

.quote {
  border-left: 1px solid #8B7962;
  padding-left: 4em;
  margin-left: 25%;
  line-height: 200%;
  margin-bottom: 2em;
  width: 46%;
}

.history {
  margin-left: 25%;
  width: 52%;
  margin-bottom: 2em;
}

.history h2 {
  font-weight: 200;
}

.history p {
  line-height: 200%;
}

.grow {
  display: flex;
  flex-direction: column;
  /*z-index: -2;*/
  background-image: url("images/background-3.jpg");
  height: 250px;
  background-size: cover;
  width: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
}

.grow span {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 50px;
}

.half {
  display: flex;
  flex-direction: row;
}

.facilities {
  /*margin-top: -3em;*/
  margin-left: 25%;
  width: 35%;
  margin-bottom: 4em;
  display: flex;
  flex-direction: column;
}

.facilities h2 {
  font-weight: 200;
  margin-bottom: 0;
}

.facilities p {
  line-height: 200%;
}

.shelf {
  width:12%;
  padding-top: 1em;
  position: relative;
  top: 2.5em;
}

.shelf ul li {
  list-style: none;
}

.shelf li img {
  width: 130%;
  height: 130%;
  padding-bottom: 10px;
}

.shelf li:last-of-type {
  font-size: 10px;
}

.plans {
  margin-top: -3em;
  margin-left: 25%;
  width: 45%;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
}

.plans h2 {
  font-weight: 200;
}

.plans table {
  border: 1px solid black;
  border-collapse: collapse;
}

.plans thead {
  text-align: center;
}
.plans td {
  border: 1px solid black;
  padding: 1em;
}

.tr-color {
  background-color: #F2EADD;
}

#newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
}

.news {
  display: flex;
  background-image: url("images/background-2.jpg");
  height: 100vh;
  background-size: cover;
  width: auto;
  z-index: -1;
}

.sign-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("images/background-2.jpg");
  height: 100vh;
  background-size: cover;
  width: auto;
}

.sign-up-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 55%;
  height: 375px;
  background-color: white;
}

.sign-up h1 {
  font-weight: 200;
  margin-top: 2em;
  padding-top: 0;
  position:relative;
  top: -1.5em;
}

.sign-up h2 {
  font-weight: 200;
  margin-top: 0;
  padding-top: 0;
  position:relative;
  top: -2em;
}

form {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-content: center;
}

#nameInput {
  border: none;
  background: transparent;
  border-bottom: 2px solid #968772;
  outline: none;
  position: relative;
  top: -1.5em;
  font-size: 20px;
  transition-property: all;
  transition-duration: 1s;
}

#nameInput:focus {
  border-bottom: 3px solid #967343;
  transition-property:
}

#emailInput {
  border: none;
  background: transparent;
  border-bottom: 2px solid #968772;
  outline: none;
  font-size: 20px;
  margin-bottom: 2em;
}

#emailInput:focus {
  border-bottom: 3px solid #967343;
}

#signupButton {
  border: none;
  Background: #968772;
  outline: none;
  padding: .75em 1em .75em 1em;
  width: 20%;
  color: #F2F1E8;
  font-size: 20px;
  margin-left: 40%;
  transition-property: background;
  transition-duration: 1s;
}

#signupButton:hover {
  background-color: #967343;
}
